# Python Object and Data Structure Basics

## Table of Contents
- [Overview](#Overview)
- [Numbers - Basic Arithmetic](#Numbers---Basic-Arithmetic)
- [Variable Assignment](#Variable-Assignment)
- [Strings](#Strings)
- [Lists](#Lists)
- [Dictionaries](#Dictionaries)
- [Tuples](#Tuples)
- [Sets](#Sets)
- [Booleans](#Booleans)
<br/><br/>
[References](#References)

### Overview

<img style="float:left;" src="p01%20Python%20Objects.png" width=700 />

In [1]:
a = (1,2)
# Determining variable type with type()
type(a)

tuple

Return to [Table of Contents](#Table-of-Contents)

### Numbers - Basic Arithmetic

In [2]:
# Addition
2+1

3

In [3]:
# Subtraction
2-1

1

In [4]:
# Multiplication
2*2

4

In [5]:
# Division
3/2

1.5

In [6]:
# Floor Division (Truncates the decimal without rounding. Returns an integer result.)
7//4

1

In [7]:
# Modulo (Returns remainder after division)
7%4

3

In [8]:
# Powers
2**3

8

In [9]:
# Can also do roots this way
4**0.5

2.0

In [10]:
# Order of Operations followed in Python
2 + 10 * 10 + 3

105

In [11]:
# Can use parentheses to specify orders
(2+10) * (10+3)

156

Return to [Table of Contents](#Table-of-Contents)

### Variable Assignment

In [12]:
# Reassigning Variables
a = 10
a = a + 10
a

20

There's actually a shortcut for this. Python lets you add, subtract, multiply and divide numbers with reassignment using `+=`, `-=`, `*=`, and `/=`.

In [13]:
a = 10
a += 10
a

20

Return to [Table of Contents](#Table-of-Contents)

### Strings

In [14]:
s = 'Hello World'

In [15]:
# Check length of a string
len(s)

11

> String Indexing

In [16]:
# Note indexing for strings start at 0
s[0]

'H'

In [17]:
# Negative indexing
s[-1]

'd'

> String Splicing

In [18]:
# Use a : to perform slicing which grabs everything up to a designated point
s[:3]

'Hel'

In [19]:
# To grab everything
s[:]

'Hello World'

In [20]:
# Using steps
# Useful trick to print a string backwards
s[::-1]

'dlroW olleH'

> String Properties

In [21]:
# Concatenate strings!
s2 = 'How are you'
s + " " + s2

'Hello World How are you'

In [22]:
# Other than '+', '*' can be used to create repetition.
# Note that '-' and '/' cannot be used on strings
letter = 'z'
letter*10

'zzzzzzzzzz'

> String Methods

In [23]:
s.upper()

'HELLO WORLD'

In [24]:
s.lower()

'hello world'

In [25]:
s.title()

'Hello World'

In [26]:
s.split()

['Hello', 'World']

In [27]:
# Split by a specific element (doesn't include the element that was split on)
s.split('W')

['Hello ', 'orld']

> String Formatting

String formatting lets you inject items into a string rather than trying to chain items together using commas or string concatenation. As a quick comparison, consider:

    player = 'Thomas'
    points = 33
    
    'Last night, '+player+' scored '+str(points)+' points.'  # concatenation
    
    f'Last night, {player} scored {points} points.'          # string formatting

#### Formatting with the `.format()` method
The syntax is:

    'String here {} then also {}'.format('something1','something2')

In [28]:
# Inserted objects can be called by index position
print('The {2} {1} {0}'.format('fox','brown','quick'))

The quick brown fox

In [29]:
# Inserted objects can be assigned keywords
print('First Object: {a}, Second Object: {b}, Third Object: {c}'.format(a=1,b='Two',c=12.3))

First Object: 1, Second Object: Two, Third Object: 12.3

#### Formatted String Literals (f-strings)
Introduced in Python 3.6, f-strings offer several benefits over the older `.format()` string method described above. For one, you can bring outside variables immediately into to the string rather than pass them as arguments through `.format(var)`.

In [30]:
name = 'Fred'

print(f"He said his name is {name}.")

He said his name is Fred.

Return to [Table of Contents](#Table-of-Contents)

### Lists

Lists can be thought of the most general version of a sequence in Python. Unlike strings, they are mutable, meaning the elements inside a list can be changed!

Lists are constructed with brackets [] and commas separating every element in the list.

In [31]:
# Note the flexibility of lists to hold different object types
my_list = ['A string',23,100.232,'o']

In [32]:
# Checking number of items in the list
len(my_list)

4

> Adding items to list

In [33]:
# Append
# Permanently add an item to the end of a list
list1 = [1,2,3]
list1.append('append me!')
list1

[1, 2, 3, 'append me!']

> Removing items from list

In [34]:
# Mtd 1: Pop
# By default pop takes off the last index, but you can also specify which index to pop off.
list2 = [1,2,3,4,5]
list2.pop()
list2

[1, 2, 3, 4]

In [35]:
list2.pop(1)
list2

[1, 3, 4]

In [36]:
# Mtd 2: Remove
# Useful when exact location of the item to be removed is not easily available
list3 = [1,2,3,4,5]
list3.remove(3)
list3

[1, 2, 4, 5]

> Sorting list

In [37]:
# Reverse
list4 = ['a','e','x','b','c']
list4.reverse()
list4

['c', 'b', 'x', 'e', 'a']

In [38]:
# Sort (inplace = True)
list4.sort()
list4

['a', 'b', 'c', 'e', 'x']

In [39]:
# Sorted (original list not changed)
list5 = ['a','e','x','b','c']
sorted(list5)

['a', 'b', 'c', 'e', 'x']

In [40]:
list5

['a', 'e', 'x', 'b', 'c']

Return to [Table of Contents](#Table-of-Contents)

### Dictionaries

Dictionaries are mappings, i.e. they are a collection of objects that are stored by a key, unlike a sequence that stored objects by their relative position. This is an important distinction, since mappings won't retain order since they have objects defined by a key.

> Constructing a dictionary

In [41]:
# Make a dictionary with {} and : to signify a key and a value
# Note values can be repeated but keys must be unique
my_dict = {'key1':'value1','key2':'value2'}

In [42]:
# Call values by their key
my_dict['key2']

'value2'

> Adding things to a dictionary

In [43]:
d = {} # Create a new dictionary
d['animal'] = 'Dog' # Create a new key through assignment
d

{'animal': 'Dog'}

In [44]:
d = {}
d.update(animal = 'Dog', pet = 'Cat')
d

{'animal': 'Dog', 'pet': 'Cat'}

> Dictionary Methods

In [45]:
d = {'key1':1,'key2':2,'key3':3}

In [46]:
# Method to return a list of all keys 
d.keys()

dict_keys(['key1', 'key2', 'key3'])

In [47]:
# Method to grab all values
d.values()

dict_values([1, 2, 3])

In [48]:
# Method to return tuples of all items
d.items()

dict_items([('key1', 1), ('key2', 2), ('key3', 3)])

Return to [Table of Contents](#Table-of-Contents)

### Tuples

In Python tuples are very similar to lists, however, unlike lists they are immutable meaning they can not be changed. You would use tuples to present things that shouldn't be changed, such as days of the week, or dates on a calendar.

> Constructing a tuple

In [49]:
t = (1,1,3)
type(t)

tuple

In [50]:
# Check len just like a list
len(t)

3

In [51]:
# Use indexing just like a list
t[0]

1

In [52]:
# Slicing just like a list
t[1:]

(1, 3)

> Tuple Methods

In [53]:
# Use .index to enter a value and return the index
# If value is repeated, .index will return the position of the first instance
t.index(1)

0

In [54]:
# Use .count to count the number of times a value appears
t.count(1)

2

> Immuntability

Due to the immutability of tuples, 
1. Tuples do not support item assignment
2. New items cannot be added to tuples by methods such as .append

Return to [Table of Contents](#Table-of-Contents)

### Sets

Sets are an unordered collection of unique elements.

In [55]:
# Constructing a set
x = set()

In [56]:
# Adding to sets with .add method
x.add(1)
x

{1}

In [57]:
# Useful in removing duplicates in list
# Note that if there is a float and int of the same value, set will return float
list1 = [6.0,7,1,1,2.0,2,3,4,5,6,1,1]
set(list1)

{1, 2.0, 3, 4, 5, 6.0, 7}

In [58]:
# Works on strings too
# Not that uppercase and lowercase of the same letter are not duplicates
set('ParalleL')

{'L', 'P', 'a', 'e', 'l', 'r'}

Return to [Table of Contents](#Table-of-Contents)

### Booleans

Python comes with Booleans (with predefined True and False displays that are basically just the integers 1 and 0). It also has a placeholder object called None.

In [59]:
a = True
type(a)

bool

In [60]:
# Comparison operators
1 > 2

False

In [61]:
# None placeholder (Used for an object that will only be reassign later)
b = None
b

Return to [Table of Contents](#Table-of-Contents)

### References

- Jose Portilla. 2022 Complete Python Bootcamp From Zero to Hero in Python.
- GovTech. Data Champion Bootcamp 2022.

Return to [Table of Contents](#Table-of-Contents)